@import '../../styles/vars.css';

.login-box {
  font-size: 1rem;
  padding: calc(40 / 32 * 1em);
  background-color: #fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* 增加该属性，可以增加弹性，是滑动更加顺畅 */
}

.login-input {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  max-width: calc(800 / 32 * 1rem);
  margin: 1rem auto 1.5rem;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  background-color: var(--grey-bg);
}

.login-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: calc(800 / 32 * 1rem);
  margin: 1rem auto;
  font-size: 0.9rem;
}

.login-forget {
  color: #999;
  cursor: pointer;
}

.login-register {
  color: #44a9f2;
  cursor: pointer;
}

.login-btn {
  display: block;
  width: 100%;
  max-width: calc(800 / 32 * 1rem);
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  border: 0;
  margin: 1rem auto 1.5rem;
  background-color: var(--grey-bg);
  color: #999;
  cursor: pointer;
}

.login-btn-active {
  composes: login-btn;
  background-color: #44a9f2;
  color: #fff;
}
